---
const { text, link } = Astro.props;
---

<a href={link}>
    <button class="bg-ctp-surface0 text-ctp-subtext0 hover:bg-ctp-surface1 px-4 py-8 w-full rounded transition duration-300">
        {text}
    </button>
</a>
