<footer class="bg-ctp-mantle text-ctp-subtext0 text-center p-4 mt-auto">
  &copy; {new Date(Date.now()).getFullYear()} <a href="https://github.com/SchweGELBin">SchweGELBin</a> - Jannik Michael Abram<br>
  <a href="https://github.com/SchweGELBin/website">Source Code.</a>&emsp;All rights reserved.
</footer>
