---
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import "../styles/global.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	  <Head title={title}/>
    <body class="bg-ctp-base flex flex-col min-h-screen font-sans">
    		<Header title={title} />
        <main class="text-ctp-text text-center flex-1 p-4">
            <slot />
        </main>
        <Footer/>
  	</body>
</html>
